<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Em aberto 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <% for (var n=0; n<dados.length;n++){%>
                    <div class="card">
                        <div class="card-header bg-dark text-light">Data:<%=dados[n].data.getDate()+1%>/<%=dados[n].data.getMonth()+1%>/<%=dados[n].data.getFullYear()%>
                        </div>
                        <div class="card-body">
                            <div class="card-title">Tipo:<%=dados[n].tipo%>
                            </div>
                            <div class="card-title">Disciplina:<%=dados[n].disciplina%>
                            </div>
                            <div class="card-subtitle">Entrega:<%=dados[n].entrega%>
                            </div>
                            <div class="card-text">Orientações:<%=dados[n].instrucoes%> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <input type="button" value="Entregue" class="btn btn-success form-control" onclick="(window.location.href='/entregue?id=<%=dados[n]._id%>')"> 
                                <input type="button" value="Alterar" class="btn btn-warning form-control">
                                <input type="button" value="Excluir" class="btn btn-danger form-control" onclick="(window.location.href='/excluir?id=<%=dados[n]._id%>')">
                            </div>
                            </div>
                    </div> <% }%>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Entregues
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <% for (var n=0; n<dadose.length;n++){%>
                    <div class="card">
                        <div class="card-header bg-dark text-light">Data:<%=dadose[n].data.getDate()+1%>/<%=dadose[n].data.getMonth()+1%>/<%=dadose[n].data.getFullYear()%>
                        </div>
                        <div class="card-body">
                            <div class="card-title">Tipo:<%=dadose[n].tipo%>
                            </div>
                            <div class="card-title">Disciplina:<%=dadose[n].disciplina%>
                            </div>
                            <div class="card-subtitle">Entrega:<%=dadose[n].entrega%>
                            </div>
                            <div class="card-text">Orientações:<%=dadose[n].instrucoes%> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <input type="button" value="Entregue" class="btn btn-success form-control" onclick="(window.location.href='/entregue?id=<%=dadose[n]._id%>')"> 
                                <input type="button" value="Alterar" class="btn btn-warning form-control">
                                <input type="button" value="Excluir" class="btn btn-danger form-control" onclick="(window.location.href='/excluir?id=<%=dadose[n]._id%>')">
                            </div>
                            </div>
                    </div> <% }%>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Excluidas
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <% for (var n=0; n<dadosx.length;n++){%>
                    <div class="card">
                        <div class="card-header bg-dark text-light">Data:<%=dadosx[n].data.getDate()+1%>/<%=dadosx[n].data.getMonth()+1%>/<%=dadosx[n].data.getFullYear()%>
                        </div>
                        <div class="card-body">
                            <div class="card-title">Tipo:<%=dadosx[n].tipo%>
                            </div>
                            <div class="card-title">Disciplina:<%=dadosx[n].disciplina%>
                            </div>
                            <div class="card-subtitle">Entrega:<%=dadosx[n].entrega%>
                            </div>
                            <div class="card-text">Orientações:<%=dadosx[n].instrucoes%> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <input type="button" value="Entregue" class="btn btn-success form-control" onclick="(window.location.href='/entregue?id=<%=dadosx[n]._id%>')"> 
                                <input type="button" value="Alterar" class="btn btn-warning form-control">
                                <input type="button" value="Excluir" class="btn btn-danger form-control" onclick="(window.location.href='/excluir?id=<%=dadosx[n]._id%>')">
                            </div>
                            </div>
                    </div> <% }%>
            </div>
          </div>
        </div>
      </div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>